<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
   <div class="field">
    <span>Materials:</span>
    <%= f.collection_check_boxes :material_ids, Material.all, :id, :name %><br>
    <%= f.fields_for(:materials) do |material_form| %>
      <%= material_form.label :name %>
      <%= material_form.text_field :name %>
    <% end %>
  </div>

    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
