<!-- <p id="notice"><%= notice %></p> -->


<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Created: </strong>
  <% if @project.user != nil %>
    <%= link_to @project.user.email, user_projects_path(@project.user) %>
    <% end %>
  <%= @project.date_string %> 
</p>

<div class="project-image">
  <%= image_tag( @project.image.url , :alt => @project.title, :class => "img-responsive img-rounded") %>
</div>

<%= link_to 'Edit', edit_project_path(@project) if current_user == @project.user %>  
<% if current_user == @project.user %>
              <%= link_to 'Destroy', project_path, method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>  
<%= link_to 'View all', projects_path %>
