<p>
  <strong>Material:</strong>
  <%= @material.name %>
</p>
<p>Projects using <%= @material.name %> </p>
<ul>
    <% @material.projects.each do |project| %>
      <li> <%= link_to project.title, project_path(project) %> </li>
    <% end %>
</ul>

<p><%= link_to 'View all materials', materials_path %></p>
<p><%= link_to 'View all projects', projects_path %></p>


