 <nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Projects", projects_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "You are signed in as #{current_user.email}" , root_path %></li> 
        <li><%= link_to "Sign out", destroy_user_session_path,  :method => 'delete' %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li>
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
        <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
      <% end %>
    </ul>
  </div>
 </nav>